.main .container-md {
    display: flex;
    flex-direction: column;
}

.div-subjects {
    height: 45px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.div-subjects ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.div-subjects ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.div-subjects ul a li {
    height: 100%;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    background-color: var(--color6);
    color: var(--color8);
    box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}

.div-subjects ul a:hover li {
    transform: scale(0.98);
    background-color: rgb(226, 225, 225);
}

.div-navigationAndSearch {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-navigationAndSearch a {
    text-decoration: none;
    color: var(--color6);
}

.div-navigationAndSearch span {
    margin: 0 10px;
}

.div-navigationAndSearch a:hover {
    text-decoration: underline;
}

.div-navigationAndSearch p {
    font-size: 21px;
    margin: 0;
    padding: 0;
    color: var(--color6);
}

.div-navigationAndSearch input {
    width: 255px;
    height: 30px;
}

.section-main {
    margin-top: 30px;
}

.link-div-resultModel {
    text-decoration: none;
    color: var(--color7);
}

.link-div-resultModel:hover {
    color: var(--color7);
}

.div-resultModel:hover {
    cursor: pointer;
    transform: rotate(-1deg);
    background-color: rgb(226, 225, 225);
}

.div-resultModel {
    width: 100%;
    height: 120px;
    background-color: var(--color6);
    padding: 10px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 8px 10px 6px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
    "title widgets"
    "abstract matter"
    ;
}

.div-resultModel .div-abstract {
    grid-area: abstract;
}

.div-resultModel .div-matter {
    grid-area: matter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-resultModel .div-matter .matter {
    font-size: 26px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    padding: 0 15px;
    padding-bottom: 3px;
    background-color: var(--color1);
}

.div-title-result {
    grid-area: title;
}

.div-widgets {
    grid-area: widgets;
}

.div-widgets > * {
    display: block;
}

.div-widgets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.div-widgets a { 
    text-decoration: none;
    color: var(--color7);
    margin-bottom: 5px;
}

.div-widgets a {
    transition: 0.15s ease-in-out;
}

.div-widgets a:hover {
    transform: scale(1.04);
}

.form-delete button {
    transition: 0.15s ease-in-out;
}

.form-delete button:hover {
    transform: scale(1.04);
}

.div-widgets .icofont-edit {
    background-color: yellow;
    border-radius: 50%;
    padding: 8px;
}

.div-widgets .icofont-trash {
    background-color: red;
    border-radius: 50%;
    padding: 9px;
    display: block;
}

.form-delete > button {
    border: unset;
    background: unset;
}

.div-resultModel .div-title-result h2 {
    font-size: 36px;
}

.div-resultModel .div-abstract .abstract {
    text-align: justify;
    font-size: 16px;
}

.div-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.button-search {
    border: none;
    background-color: unset;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    width: 18px;
    height: 18px;
}

.div-search-form.focus {
    border: 1px solid #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.pagination {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.pagination form {
    display: flex;
}

.pagination a {
    text-decoration: none;
}

.pagination .numbers {
    width: 23px;
    height: 23px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: var(--color6);
    color: var(--color7);
}

.pagination .numbers:hover {
    background-color: rgb(173, 173, 173);
}

.pagination .text {
    margin: 0;
    padding: 0;
    background-color: unset;
    color: var(--color6);
    margin: 0 10px;
    border: none;
}

.pagination .text:hover {
    text-decoration: underline;
}

.div-notFind {
    display: flex;
}

.div-notFind > p {
    font-size: 20px;
    color: var(--color6);
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0;
}