.main .container-md {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    background-color: var(--color6);
    border-radius: 20px;
    width: 539px;
    height: 340px;
    padding: 30px 20px;
}

.main-section > h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

.main-section > p {
    font-size: 25px;
    margin: 30px 0;
}

.buttons {
    display: flex;
}