.main .container-md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section {
    background-color: var(--color6);
    border-radius: 20px;
    width: 539px;
    min-height: 431px;
    padding: 30px;
    font-size: 20px;
}

.div-areas {
    display: flex;
    justify-content: space-between;
}

.div-areas > div > input {
    height: 15px;
    width: 15px;
}

.div-abstract > textarea {
    height: 118px;
}

.div-errors{
    border-bottom: 1px solid rgba(163, 157, 157, 0.486);
}

.div-errors,.invalid-feadback {
    background-color: red;
    margin-top: 2px;
    border-radius: 5px;
}

.div-errors,.invalid-feadback > p {
    padding: 0 5px;
}

.div-errors > p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.invalid-feadback > p {
    font-size: 15px;
}

textarea {
    resize: none;
}