.main .container-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 10px;
}

.section-areas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-redaction {
    margin-bottom: 65px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.section-redaction a {
    text-decoration: none;
}

.section-redaction a .div-redaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(111.94deg, rgba(191, 38, 38, 0.4) 0%, rgba(185, 34, 41, 0.4) 26.56%, rgba(179, 30, 44, 0.4) 51.04%, rgba(173, 26, 47, 0.4) 77.6%, rgba(166, 23, 49, 0.4) 100%);
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border: 3px solid var(--color6);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 15px;
    padding-right: 30px;
    width: 235px;
    opacity: 100%;
    transform: translateX(0px);
    animation: redaction-show 1s ease-in;
}   

@keyframes redaction-show {
    0%{
        opacity: 0%;
        transform: translateX(-200px);
    }

    50%{
        opacity: 100%;
        transform: translateX(10px);
    }

    70%{
        transform: translateX(-7px);
    }

    80% {
        transform: translateX(5px);
    }
    
    100% {
        transform: translateX(-2px);
    }
}

.section-redaction a .div-redaction p {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 26px;
    color: var(--color6);
}

.main .container-md .section-areas a {
    text-decoration: none;
}

.section-areas .area {
    width: 300px;
    height: 304px;
    position: relative;
    min-width: 300px;
    border-radius: 0px 50px;
    padding: 5px;   
    border: 5px solid var(--color6);
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(111.94deg, rgba(191, 38, 38, 0.4) 0%, rgba(185, 34, 41, 0.4) 26.56%, rgba(179, 30, 44, 0.4) 51.04%, rgba(173, 26, 47, 0.4) 77.6%, rgba(166, 23, 49, 0.4) 100%);
    transform: rotate(0deg);
    transform: scale(1);
    animation: areaRotate 3s ease-in-out;
}  


@keyframes areaRotate {
    0% {
        transform: rotate(-400deg);
        opacity: 0%;
    }
    
    10% {
        transform: rotate(150deg);  
        opacity: 50%;
    }
    
    20% {
        transform: rotate(-80deg);  
        opacity: 100%;
    }
    
    30% {
        transform: rotate(50deg);  
    }
    
    40% {
        transform: rotate(-20deg);  
    }
    
    50% {
        transform: rotate(15deg);  
    }
    
    60% {
        transform: rotate(-10deg);  
    }
    
    70% {
        transform: rotate(8deg);  
    }
    
    80% {
        transform: rotate(-5deg);  
    }
    
    90% {
        transform: rotate(2deg);  
    }
    
    100% {
        transform: rotate(0deg);
    } 
}

.section-areas .area:hover {
    transform: scale(0.99);
}

.section-areas .area p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: var(--color6);
    font-size: 26px;
    margin-left: 5px;
}

.section-areas .area img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section-areas .area-abstract img {
    width: 268px;
    height: 268px;
}

.section-areas .area-activity {
    margin: 0px 50px;
}

.section-areas .area-activity img {
    width: 214px;
    height: 224px;
}

.section-areas .area-classes img {
    width: 254px;
    height: 254px;
}

@media (max-width: 1199px) {
    .section-areas .area-abstract {
        margin-right: 20px;
    }
    
    .section-areas .area-activity {
        margin: 0px;
        margin-left: 20px;
    }

    .section-areas .area-classes {
        margin: 25px;
    }

    .main .container-md .section-areas {
        justify-content: center;
        padding-top: 20px;   
    }

    .section-redaction {
        display: flex;
        justify-content: center;
    }

    .section-redaction a .div-redaction {
        width: 300px;
    }
}

@media (max-width: 665px) {    
    .main .container-md .section-areas { 
        padding: 25px 0;
        flex-direction: column;
    }

    .section-areas .area-abstract {
        margin: 0px;
    }
    
    .section-areas .area-activity {
        margin: 60px 0px;
    }

    .section-areas .area { 
        flex-basis: unset;
        height: 304px;
        transform: scale(1);
        animation: areaRotate 3s ease-in-out;
    }

    @keyframes areaRotate {
        0% {
            transform: rotate(-400deg);
            opacity: 0%;
            height: 280px;
        }
        
        10% {
            transform: rotate(150deg);  
            opacity: 50%;
        }
        
        20% {
            transform: rotate(-80deg);  
            opacity: 100%;
        }
        
        30% {
            transform: rotate(50deg);  
        }
        
        40% {
            transform: rotate(-20deg);  
        }
        
        50% {
            transform: rotate(15deg);  
        }
        
        60% {
            transform: rotate(-10deg);  
        }
        
        70% {
            transform: rotate(8deg);  
        }
        
        80% {
            transform: rotate(-5deg);  
        }
        
        90% {
            transform: rotate(2deg);  
        }
        
        100% {
            transform: rotate(0deg);
        } 
    }
}