.main .container-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-login {
    height: 381px;
    width: 470px;
    background-image: var(--gradient3);
    border-radius: 15px;
    padding: 10px;
    padding-top: 30px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.div-login label { 
    font-size: 1.2rem;
}

.btn-login {
    background-image: url("../img/ic_twotone-login.svg");
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: 5%;
    padding-left: 30px;
    transition: 0.1s;
    margin-right: 15px;
}

.btn-login:hover {
    background-image: url("../img/ic_twotone-login-black.svg");
}

.forgotPassword{
    margin: 30px 0;
}

.forgotPassword > a{
    color: var(--color6);
    text-decoration: none;
}

.forgotPassword > a:hover{
    text-decoration: underline;
}

.div-imglogin > img {
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
    height: 400px;
}

.invalid-feadback {
    color: red;
    background-color: var(--color6);
    height: 30px;
    margin: 0 5px;
    padding: 2px 5px;
    transform: translateY(0px);
    animation: error 0.5s ease-in;
}

.invalid-feadback p {
    margin: 0;
    padding: 0;
}

.loginMessage {
    margin: 0;
    margin-bottom: 8px;
    background-color: var(--color6);
    padding: 5px 5px;
}

.loginMessage p {
    margin: 0;
    padding: 0;
    color: red;
}

@keyframes error {
    0% {
        transform: translateY(-40px);
    }
    
    100% {
        transform: translateY(-0px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 1199px) {
    .div-imglogin > img {
        width: 30rem;
    }
}

@media (max-width: 991px) {
    .main > .container-md {
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .main > .container-md > .div-login {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .main > .container-md > .div-imglogin {
        margin-top: 30px;
        margin-bottom: 15px; 
    }
}

@media (max-width: 525px) {
    .div-login {
        width: 99%;
    }

    .main > .container-md > .div-login { 
        width: 100%;   
    }

    .main > .container-md > .div-imglogin > img {
        width: 100%;
    }
}