.main .container-md {
    padding: 35px 5px;
}

.invalid-feadback {
    background-color: var(--color6);
    animation: showErrors 0.4s ease-in;
    transform: translateY(0px);
}

@keyframes showErrors {
    0% {
        transform: translateY(-40px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

.invalid-feadback > p {
    margin-top: 5px;
    padding: 2px 5px;
    color: red;
}

.manageAccountSuccess {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    background-color: #43a543;
    margin-top: 10px;
}

.manageAccountSuccess > p {
    margin: 0;
    color: var(--color6);
    font-size: 18px;
}

.main .container-md {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.section-manageAccount {
    width: 682px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    background-image: var(--gradient3);
}

.section-manageAccount .imgAndUsername {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.section-manageAccount .imgAndUsername .div-img {
    height: 104px;
    width: 104px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DDD;
    background-position: center;
}

.section-manageAccount .imgAndUsername > p {
    margin: 0;
    width: calc(100% - 119px);
    word-wrap: break-word;
    margin-left: 15px;
    font-size: 34px;
    color: var(--color6);
}

.section-manageAccount .form-email {
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
}

.section-manageAccount .form-password {
    margin-top: 30px;
}

.section-manageAccount .form-password .div-password {
    margin-bottom: 30px;
}

form label {
    color: var(--color6);
    margin-bottom: 10px;    
}

.div-formControl {
    padding: 0px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.div-formControl abbr {
    display: flex;
    align-items: center;
}

.div-formControl .buttonModifyEmail {
    width: 24px;
    height: 24px;
    border: unset;
    background-color: unset;
    background-image: url("../img/eos-icons_content-modified.svg");
    background-size: cover;
    background-position: center;
}

.div-formControl.focus {
    border: 1px solid #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

@media (max-width: 682px){
    .section-manageAccount {
        width: 100%;
    }
}