.invalid-feadback {
    background-color: var(--color6);
    animation: showErrors 0.4s ease-in;
    transform: translateY(0px);
}

@keyframes showErrors {
    0% {
        transform: translateY(-40px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

.invalid-feadback > p {
    margin-top: 5px;
    padding: 2px 5px;
    color: red;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: unset;
}

.main .container-md{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.main .form {
    padding: 15px 20px;
    width: 539px;
    background-image: var(--gradient3); 
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

@media (max-width: 539px){
    .main .form {
        width: 100%;   
    }
}

.fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px solid;
    border-radius: 10px;
    border-collapse: unset;
    border-color: var(--color6);
}

.fieldset .inputs {
    display: flex;
    align-items: center;
}

.fieldset .inputs div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fieldset .inputs input {
    width: 18px;
    height: 18px;
}

.fieldset .inputs div label {
    margin-left: 10px;
}

.margin {
    margin-left: 15px;
}

.form legend,label {
    font-size: 18px;
}

.btn-back {
    margin-left: 30px;
}